/* Zones */

.header {
	position: fixed;
	justify-content: space-around;
	align-items: center;
	width: calc(100% - 8px);
	/*height: 8vh;
	min-height: 40px;
	max-height: 60px;*/
	background-color: rgba(125, 74, 243, 0.24);
	backdrop-filter: blur(10px);
	padding: 4px;
}

.header .title {
	flex: 1 0 420px;
	border-radius: 15px 5px 15px 5px;
	width: 75%;
	height: 80%;
	background-color: rgba(10,10,10,0.75);
	min-width: 200px;
	margin: 6px;
}

.header .item {
	margin-left: 6px;
	margin-right: 6px;
	flex: 0 2 100px;
	border-radius: 9px 3px 9px 3px;
	width: auto;
	background-color: rgba(10,10,10,0.75);
	padding: 4px;
}

.header .item:hover {
	background-color: rgba(80,10,10,0.75);
}

.header .item p {
	margin: 0;
	text-align: center;
	width: 100%;
}

.header .title h1 {
	margin-top: auto;
	font-size: 40px;
	text-align: center;
	width: 100%;
	margin-bottom: auto;
}

.headerPlaceholder {
	height: 8vh;
	width: 100%;
	min-height: 40px;
	max-height: 60px;
}

body {
	color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
	background-color: rgba(20,4,30);
}

main {
    flex: 1;
}

.footer {
	display: flex;
	width: auto;
	align-items: center;
    /*text-align: center;*/
	justify-content: space-between;
    padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(30, 30, 30, 0.9);
	color: white;
	padding-right: 15px;
	padding-left: 15px;
}

.footer .item {
	background-color: rgba(20, 20, 20, 0.9);
	padding:6px 12px 6px 12px;
	margin: 0 0 4px 4px;
	border-radius: 5px;
	text-align: center;
	flex: 0 1 200px;
	/*width: 100%;*/
}

/* Containers */

.container {
	display: flex;
	/*background-color: rgba(30, 30, 30, 0.9);*/
	/*background-color: #5F43FF;*/
	/*border-radius: 5px 5px 5px 5px;
	margin: 2px;
	border-style: solid;
	border-width: 2px;
	/*outline: 1px solid white;*/
	/*border-collapse: collapse;*/
}

.container .text {
	flex: 1 0 0px;
	margin: 5px;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(30, 30, 30, 0.9);
} 

.container .img {
	border-radius: 5px 5px 5px 5px;
	margin: 1px;
	border-style: solid;
	border-width: 2px;
	flex: 2 1 0px;
} 

.container .img div {
	background-color: rgba(30, 30, 30, 0.9);
	border-radius: 0 0 5px 5px;
	padding: 5px;

}

/* Others */

.noMargin {
	margin: 0px;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-center {
	justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
	
}
